

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: lightpink;

}

.filter-bar {
    float: left;
    background-color: #0dcaf0;
    width: 100%;
}

.filter {
    float: left;    
}

.search-book {
    float: left;
    margin-left: 40px;
}

.link-full-list {
    margin-left: 40px;
    padding-left: 40px;
}

.create-new {
    padding-top: 10px;
    float: right;
}

tr:nth-child(odd)    { background-color:#eee; }
tr:nth-child(even)   { background-color:#fff; }